---
layout: default
title: "Home"
order: 1
description:
  What concrete benefits can be realized by making scholarly outputs openly available?
---
<header>
	<h1>{{ page.description }}</h1>
	<p>“Open in order to…” serves as a prompt to move beyond talking about openness in itself and focus on what openness enables—in an individual discipline, at a particular institution, or in a specific context; then to take action to realize these benefits. If you have an answer, <a href="/share-your-answer" target="_blank">share it with us</a> and <a href="https://twitter.com/intent/tweet?button_hashtag=OpenInOrderTo&ref_src=twsrc%5Etfw" target="_blank"> Tweet #OpenInOrderTo</a>. Created by <a href="https://sparcopen.org/" target="_blank"><img src="{{site.baseurl}}/assets/images/tiny_sparc.png" alt="SPARC Logo" style="height: .8em;" ></a></p>
</header>
<section class="tiles">

{% for weight in (1..20) %}
  {% for post in site.posts %}
    {% if post.weight == weight %}
      <article class="{{ post.class }}">
        <span class="image">
          <img src="{{ post.list-image | prepend: site.baseurl }}" alt="">
        </span>
        <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
          <h2>{{ post.title }}</h2>
  <!--    <span>{{ post.date | date: "%b %-d, %Y" }}</span> tiiiimeless content, no need for dates -->
          <div class="content">
            <p>{{ post.description }}</p>
          </div>
        </a>
      </article>
      {% endif %}
    {% endfor %}
{% endfor %}

</section>
